@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/todo.css" rel="stylesheet">
    <link href="/lib/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">
}

<div class="parent-container">
    <div class="content">
        <h4>My Tasks:</h4>
        <div id="tasks" class="section-tasks">

        </div>
        <button class="btn-completed">Completed</button>
    </div>

    <div class="details">
        <h4>Add a task:</h4>
        <div class="details-section">
            <input type="text" name="title" id="txtTitle" placeholder="Task title">
        </div>

        <div class="details-section" id="chkBox">
            <label for="chkImportant">Important?</label>
            <input type="checkbox" id="chkImportant">
        </div>

        <div class="details-section">
            <textarea name="notes" id="txtNotes" cols="30" rows="10" placeholder="Notes"></textarea>
        </div>
   
        <div class="details-section">
                <button id="btnSave" class="btn btn-info">Save Task</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/calendar.js"></script>
}

